* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
}

.game-container {
  height: 95vh;
  margin: 0 auto;
  position: relative;
  width: 55vh;
  z-index: 3;
}

@media (max-width: 400px) {
  .game-container {
    width: 100%;
  }
}

.main {
  background-color: #F0EDEE;
  overflow: hidden;
}



/* header section */

#header {
  margin: 0px;
  font-size: 40px;
}

.header {
  background-color: #191923;
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
}

#turns-counter {
  margin: 0px;
  font-size: 17px;
}



/* current score section */

.current-score-section {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 10vh;
}

.current-score-section p {
  color: #191923;
  text-align: center;
  /* margin-bottom: 0px; */
}

.current-score {
  font-size: 30px;
}

.current-score-text {
  font-size: 20px;
}



/* score sheet section */

.score-sheet {
  background-color: #AFADAE;
  border-top: 1px solid #AFADAE;
  border-bottom: 1px solid #AFADAE;
  display: grid;
  height: 48vh;
  font-size: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
}

.score-sheet-left {
  border-right: 1px solid #AFADAE;
}

.score-sheet-half {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 2px;
}

.combination {
  align-items: center;
  background-color: #F0EDEE;
  border-right: 1px solid #AFADAE;
  display: flex;
  padding: 10px;
}

.score-area {
  background-color: #F0EDEE;
}

.score-area:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #191923;  
}



/* dice section */

.die {
  width: 70px;
  position: relative;
  z-index: 1;
}

img {
  border-radius: 10px;
}

.die-start {
  transform: translateX(-700%);
}

.dice {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 12vh;
}

.die-kept {
  border: 3px #191923 solid;
}

.die-animate {
  animation: roll-in 2s;
}

@keyframes roll-in {
  0% {
    transform: translateX(-700%) scale(.7) rotate(0deg);
  }
  100% {
    transform: translateX(0) scale(1) rotate(360deg);
  }
}

.die-animate-two {
  animation: roll-out 2s;
}

@keyframes roll-out {
  0% {
    transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(600%) scale(.5);
  }
}



/* turns remaining section */

.turns-section {
  align-items: center;
  color: #191923;
  display: flex;
  font-size: 20px;
  height: 5vh;
  justify-content: center;
}



/* buttons section */

.buttons {
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

button {
  width: 47%;
  height: 40px;
}

#btn button {
  font-size: 18px;
}

#rolls-remaining {
  border-radius: 3px;
  margin-left: 10px;
}

.button-wide {
  width: 90%;
  margin: 0 auto;
}
